<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Замена текста</title>
</head>

<style>
    textarea {
        width: 500px;
        height: 150px;
    }

    input {
        width: 500px;
    }
    .new_string {
        background: none;
    }
    .new_string::placeholder {
        color: black;
        font-weight: bold;
    }

    .btn {
        margin-left: 10px;
        color: white;
        background-color: green;
    }
</style>

<body>
    <form method="post">
        {% csrf_token %}
        <textarea name="string" placeholder="Введите строчку"></textarea>

        <p></p>
        <input name="old_elem" placeholder="Выберите символ, который нужно заменить">
        <p></p>
        <input name="new_elem" placeholder="Введите новый(е) символ(ы)">
        <p></p>
        <button class="btn" name="text_replace" type="submit">Заменить</button>
        <button class="btn" name="space_delete" type="submit">Удалить все пробелы</button>
    </form><br>

    <textarea name="new_string" class="new_string" placeholder="{{ output }}" disabled></textarea>

</body>
</html>